<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <!-- <img src="../../imgs/user.png" width="48" height="48" alt="User" /> -->
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.fullName}}</div>
                <div class="email">{{user.email}}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a (click)="logout()"><i class="fa fa-sign-out fa-lg"></i> Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">HOME</li>
                <li routerLinkActive="active">
                    <a routerLink="/system/dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/system/user">
                        <i class="fa fa-user fa-2x"></i>
                        <span>Users</span>
                    </a>

                </li>
                <li routerLinkActive="active">
                    <a routerLink="/system/role/">
                        <i class="fa fa-users fa-2x"></i>
                        <span>Roles</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/system/product" class="menu-toggle">
                        <i class="fa fa-cubes fa-2x"></i>
                        <span>Products</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a href="javascript:void(0);" class="menu-toggle">
                                <span>Cards</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="../../pages/widgets/cards/basic.html">Basic</a>
                                </li>
                                <li>
                                    <a href="../../pages/widgets/cards/colored.html">Colored</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-file fa-2x"></i>
                        <span>Posts</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/ui/alerts.html">Alerts</a>
                        </li>
                        <li>
                            <a href="../../pages/ui/animations.html">Animations</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                        <span>Orders</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/forms/basic-form-elements.html">Basic Form Elements</a>
                        </li>
                        <li>
                            <a href="../../pages/forms/advanced-form-elements.html">Advanced Form Elements</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="../changelogs.html">
                        <i class="material-icons">update</i>
                        <span>Changelogs</span>
                    </a>
                </li>
                <li class="header">OTHERS</li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons col-red">donut_large</i>
                        <span>Important</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons col-amber">donut_large</i>
                        <span>Warning</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons col-light-blue">donut_large</i>
                        <span>Information</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2018 <a href="javascript:void(0);">HD SHOP</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->

</section>